doctype html 
html 
    head 
        title Form Handler Page 
    body 
        p Name: #{data.username}
        p Email: #{data.email}
        p Password: #{data.userpass}
        p Gender: #{data.gender}
        p City: #{data.city}